/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;

  /*===== Colors =====*/
  --first-color: #e76f51;
  --first-color-light: #C4C7F5;
  --dark-color: #0E1026;
  --white-color: #FBFBFB;

  /*===== Font and typography =====*/

  /* 
  --nav-name-font-size: 1.5rem;
  --normal-font-size: .938rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --nav-name-font-size: 1rem;
    --normal-font-size: 1rem;
  }
}

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 800;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.bd-grid {
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 1rem;
  background-color: #FFF;
  z-index: var(--z-fixed);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;

}

.header__logo {
  color: var(--dark-color);
}

.header__toggle {
  font-size: 1.7rem;
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--first-color);
    width: 80%;
    height: 100vh;
    padding: 2rem 0;
    z-index: var(--z-fixed);
    transition: .5s;
    overflow-y: auto;
    margin-bottom: 3em;

  }
}

.nav__content {
  display: flex;
  flex-direction: column;
}

.nav__perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.nav__img {
  display: flex;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.nav__img img {
  width: 70px;
}

.nav__name {
  display: block;
  font-size: var(--nav-name-font-size);
  color: var(--white-color);
  font-family: 'Open Sans', sans-serif;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: var(--first-color-light);
}

.nav__link:hover {
  color: var(--white-color);
}

/*Show menu*/
.show {
  left: 0;
}

/*Active link*/
.active {
  color: var(--white-color);
}

/*=== Dropdown ===*/
.dropdown__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown__icon {
  font-size: 1.3rem;
  transition: .5s;
}

.dropdown__menu {
  margin: 1rem 0 0 1rem;
  background-color: #e76f51;
  display: none;
}



.dropdown__item {
  margin: 1rem 0;
}

.dropdown:hover > .dropdown__menu {
  display: block;
}

.dropdown:hover .dropdown__icon {
  transform: rotate(180deg);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 576px) {
  .nav {
    width: 288px;
  }
}



@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .nav__perfil {
    flex-direction: row;
    text-align: initial;
    margin-bottom: 0;
  }
  .nav__img {
    width: 40px;
    height: 40px;
    margin-right: .5rem;
    margin-bottom: 0;
  }
  .nav__img img {
    width: 46px;
  }
  /*El titulo principal*/
  .nav__name {
    color: var(--dark-color);
  }
  .nav__list {
    display: flex;
    align-items: center;
  }
  .nav__item {
    margin: 0 1.5rem;
    padding: 1.4rem 0;
  }

   /*Cambia el color a las letras del nav*/
      .nav__link {
    color: black;
    font-family: 'Open Sans', sans-serif;

  }

  
   /*Cambia el color cuando el puntero esta en cima*/
  .nav__link:hover {
    color: red;
    font-family: 'Open Sans', sans-serif;
  }
  /*Active link new color*/
    /*Pone color a lo que dice incio*/
  .active {
    color: black;
    font-family: 'Open Sans', sans-serif;

  }
  .dropdown {
    position: relative;
  }
  .dropdown__menu {
    position: fixed;
    margin: 0;
    top: calc(var(--header-height) + 1rem);
    padding: .5rem 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
  }
  .dropdown__item {
    margin: .5rem 0;
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/* FIN DEL MENU DE NAVEGACION NAV */ 

body {
  background-color: #F39748;
}

/* Conoce al team*/



.team{
  margin-top: 5em;
  text-align: center;
  display: none;
}

#liiink {
color: red ;
  }

#meet{
  color: white;
  font-size: 3em;
}

.heading {
  font-size: 2em;
  color: white;
  text-align: center;
}

.heading span {
  font-style: italic;
  font-size: 2rem;
}

.contenedor {
  margin: 20px 40px;
  color: white;
  margin-top: 3em;
  display: none;
}


.profiles {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}

.profile {
  flex-basis: 260px;
}

.profile .profile-img {
  height: 260px;
  width: 260px;
  border-radius: 50%;
  cursor: pointer;
  transition: 400ms;
}


.user-name {
  margin-top: 30px;
  font-size: 35px;
  font-family: 'Open Sans', sans-serif;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #C4C7F5;
  font-family: 'Ubuntu', sans-serif;
}

.alink h5 a{
  color: red;
}


.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1150px) {
  .profiles {
    flex-direction: column;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .heading {
    font-size: 2m;
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .heading span {
    font-size: 25px;
  }

  .profiles {
    margin: 20px 0;
  }

  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

/* fin conoce al team */


/* el footer */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

}

/* FOOTER */

footer {
  padding: 70px 0;
  background: #2D1E2F;
  width: 100%;
  color: white;
  padding:  40px;
  }
  
  .container-body {
  justify-content: space-between;
     width: 100%;
  max-width: 1600px;
  display: flex;
  margin: auto;
  
  }
  
  
  .colum1{
  max-width: 400px;
  font-family: 'Open Sans', sans-serif;
  
     }
  
  .colum1 h1 {
  font-size: 30px;
  }
  
  .colum1 p {
  font-size: 20px;
  color: white;
  margin-top: 20px;
  }
  
  .colum2{
  max-width: 400px;
  font-family: 'Open Sans', sans-serif;   
     }
  
  .colum2 h1{
    font-family: 'Open Sans', sans-serif; 
  }
  
  .row{
  margin-top: 20px;
  display: flex;
     
     }
  
  
  
  .row img {
  width: 36px;
  height: 36px;
  }
  
  .row label {
  margin-top: 10px;
  margin-left: 20px;
  color: white;

  }
/* COSO para los link del footer */

   
#foooter { 
  color: white; 
} 
  
  
  .colum3{
  max-width: 400px;
  font-family: 'Open Sans', sans-serif;   
     }
  
  .colum3 h1 {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  
  }
  
  .row2 {
  margin-top: 20px;
  }
  
  .row2 img {
  width: 36px;
  height: 36px;
  }
  
  
  .row2 label {
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  }
  
  @media screen and (max-width: 1000px) {
  .container-body {
    flex-wrap: wrap;
    }
  
      .colum2,
      .colum3  {
  margin-top: 40px;
    
  
  }
  }
/* MAP RESPONSIVO */



 

.map-responsive{

  overflow:hidden;

  padding-bottom:56.25%;

  position:relative;

  height:0;

}

.map-responsive iframe{

  left:0;

  top:0;

  height:100%;

  width:100%;

  position:absolute;

}


/* FIN FOOTER & MAPA RESPONSIVE */

 /*FOOTER 2*/
  
 #footer2{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #FFF;
}

 a {
   color: red;
   text-decoration: none;
   font-weight: 700;
 }
 
 .link {
   bottom: 10px;
   left: 0;
   right: 0;
   text-align: center;
   font-size: 18px;
   color: #0E1026;
 }
 
 /* corazoncito del footer2 */
  svg{
   position: relative;
   top: 5px;
   margin: 0 4px;
  }
  /* corazoncito del footer2 */